<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="itemBean" class="vn.tvc.web.dependency.injection.ItemImpl">
        <constructor-arg name="name" value="Thuan" index="0"/>
    </bean>
    <bean id="storeBean" class="vn.tvc.web.dependency.injection.Store">
        <constructor-arg index="0" name="item" ref="itemBean"/>
    </bean>
    <!--    ItemImpl itemBean=new ItemImpl();-->
    <!--    Store storeBean=new Store(itemBean );-->
</beans>